JWT_ENABLED=false
JWT_SECRET=example1234
JWT_IN_BODY=false
ALLOW_META_IP_ADDRESS=true
ALLOW_PRIVATE_IP_ADDRESS=true

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=documentserver
DB_USER=postgres
DB_PWD=postgres

REDIS_SERVER_HOST=
REDIS_SERVER_PORT=
REDIS_SERVER_USER=
REDIS_SERVER_PASS=
REDIS_SERVER_DB=

## WOPI (Web Application Open Platform Interface) คือ โปรโตคอลมาตรฐานที่พัฒนาโดย Microsoft เพื่อให้เว็บแอปพลิเคชัน (เช่น Office Online) สามารถเข้าถึง เปิดดู และแก้ไขไฟล์เอกสารที่จัดเก็บอยู่บนเซิร์ฟเวอร์หรือคลาวด์ได้โดยตรงผ่านเบราว์เซอร์ ซึ่งทำงานผ่านรูปแบบ REST API ช่วยให้การทำงานร่วมกันแบบเรียลไทม์เป็นไปได้อย่างราบรื่น 
## Specifies the enabling of the wopi handlers. Defaults to false
WOPI_ENABLED=true

## When true, regenerates fonts list and the fonts thumbnails etc. at each start. Defaults to true.
GENERATE_FONTS=true
